@model App5LP.Models.Cliente

@{
    ViewData["Title"] = "DetalhesCliente";
}

<h1>Detalhes Cliente</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.idCli)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.idCli)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nomeCli)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nomeCli)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CPF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CPF)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.telefone)
        </dd>
    </dl>
</div>
<br />
<button type="button" class="btn btn-primary botaoeditar">
    @Html.ActionLink("Editar", "AtualizarUsuario", new { id = Model.idCli })
</button>
<button type="button" class="btn btn-primary botaoeditar">
    @Html.ActionLink("Voltar", "Index")
</button>
</div>